:root{
    --color-dark: rgb(63, 63, 174);
    --color-light: rgb(172, 187, 240);
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-box{
    border: solid .10em black;
    background-color: var(--color-dark);
    color: var(--color-light);
    margin: auto;
    padding: 0.5em;
    padding-bottom: 0.2em;
    font-size: 300%;
    text-align: center;
}

h3{
    margin-top: 5%;
    margin-bottom: 2%;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.box-one{
    margin-left: 18%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.box-two{
    margin-top: 10%;
    margin-bottom: 20%;
    margin-right: 5%;
}

.img{
    height: 150px;
    width: 200px;
}

.p1{
    margin: 0%;
}

.left-title{
    font-size: 28px;
    border-top: solid 0.8em var(--color-light);
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1.3em;
}

.left-text{
    font-size: 18px;
    padding-left: 2em;
    padding-right: 1em;
}

.right-text{
    font-size: x-small;
}

.d-flex{
    display: flex;
}

footer{
    border: solid .20em black;
    background-color: var(--color-dark);
    padding: 4.5em;
    margin-left: 0%;
    margin-right: 0%;
}